<div class="container">

<h1>Stupid Coaching</h1>

<div id="your_answer">
  <p> <%= params[:input] %></p>
  <p><em>-You</em></p>
</div>

<div id="coach_answer">
  <p><%= @coach_answer %></p>
  <p><em>-Your Coach</em></p>
</div>

</div>
